
%h1

.ly-home-wrap

	.ly-tag

		今注目のタグ

		
	.ly-home-title
		今注目のレッスン
	- @lessons.each do |lesson| 
		= link_to lesson do
			%article.lessons

				.mod-lessons-picture
					.mod-lessons-name
						河内りん
					= image_tag lesson.header.url
					
					%h2.mod-lessons-title 
						= link_to lesson.title, lesson
					%h3.mod-lessons-tags
					%p.mod-lessons-textarea 
						= lesson.simple_description

	.ly-home-title
		今注目のレポート
	- @reports.each do |lesson| 
		%article.lessons

			.mod-lessons-picture
				.mod-lessons-name
					河内りん
				= image_tag lesson.header.url
				
			%h2.mod-lessons-title 
				= link_to lesson.title, lesson

			%h3.mod-lessons-tags
			%p.mod-lessons-textarea 
				= lesson.simple_description