
.ly-static-bigbanner-wrapper
	.inner
		%h1 画力向上の為の絵描き応援SNS
		%h1.is-bottom TUTORS
		%img.characters.is-left{src: "https://s3-ap-northeast-1.amazonaws.com/tutors-upload-test/assets-images/chara1.png"}
		%img.characters.is-right{src: "https://s3-ap-northeast-1.amazonaws.com/tutors-upload-test/assets-images/chara2.png"}

.ly-static-navi




.ly-static-contents-wrapper
	.ly-static-left
		.left-header
			- unless current_user.icon.url.blank?
				= image_tag current_user.icon.thumb.url, class: "top-header"
		= image_tag current_user.image.url, class: "icon"
		.names-cell
			.name 川地りん
			.name-id @gingatrain814
		.manage-cell
			.want 添削希望管理
			.pen 赤ペン管理
			.report レポート管理
		.attention 新着赤ペンがありました！

	.ly-home-wrap
		.new-want.mod-news 最新の質問
		.mod-static-lessons-wrappers
			- @lessons.last(3).each do |lesson|
				= link_to lesson do
					%article.lessons

						.mod-lessons-picture
								

							- unless lesson.header.thumb.url.blank?
								= image_tag lesson.header.thumb.url

							= image_tag lesson.user.image.url, class: "mod-lessons-icon"

							%h2.mod-lessons-name 
								= link_to lesson.title, lesson

							%h3.mod-lessons-tags
							/ %p.mod-lessons-textarea 
							/ 	= lesson.simple_description


		.new-report.mod-news 最新のレポート
		.mod-static-lessons-wrappers
			- @lessons.last(3).each do |lesson|
				= link_to lesson do
					%article.lessons
						.mod-lessons-picture
							- unless lesson.header.thumb.url.blank?
								= image_tag lesson.header.thumb.url
							= image_tag lesson.user.image.thumb.url, class: "mod-lessons-icon"

							%h2.mod-lessons-name 
								= lesson.title
							%h3.mod-lessons-tags
							/ %p.mod-lessons-textarea 
							/ 	= lesson.simple_description

	.ly-static-right
		.right-tag-title 人気のタグ
		.tags
			- @tags.first(20).each do |tags|
				- @tagsname = tags.name
				= link_to tags.name, lessons_path(@tagsname), class: "mod-tag"

      

	/ .ly-static-right