.ly-users-edit#user-edit-display
  .user-edit-main-content
    = image_tag @user.image.url, class: "mod-user-icon about-user-show"

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .header
        - unless @user.icon.url.blank?
          .user-header{style: "background-image: url(#{@user.icon.url})"}
          / = image_tag @user.icon.url, class: "user-header"
        .field.about-header
          = f.label :icon, "ヘッダー画像変更"
          %br/
          = f.file_field :icon
      .content
        .field.about-picture
          = f.label :image, "アイコン画像"
          %br/
          = f.file_field :image, name:"image"
        .field.about-username
          = f.label :username, "ユーザーネーム"
          %br/
          = f.text_field :username, autofocus: true
        .field
          = f.label :simpleintroduce, "ひとこと"
          %br/
          = f.text_field :simpleintroduce, autofocus: true
        .field.about-introduction
          = f.label :introduction, "自己紹介"
          %br/
          = f.text_area :introduction, autofocus: true, wrap: "hard"             
        .field
          = f.label :email, "メールアドレス"
          %br/
          = f.email_field :email, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field
          = f.label :password, "新しいパスワード"
          %i (変更のない場合空欄)
          %br/
          = f.password_field :password, autocomplete: "off"          
        .field
          = f.label :password_confirmation, "新しいパスワード"
          %i (確認)
          %br/
          = f.password_field :password_confirmation, autocomplete: "off"
        / .field
        /   = f.label :current_password, "現在のパスワード", style: "color: red;"
        /   %i (必須)
        /   %br/
        /   = f.password_field :current_password, autocomplete: "off"
          
        .actions
          = f.submit "更新", class: "submit"
    / %h3 アカウント削除
    / %p
    /   #{button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "まじ？" }, method: :delete}
