%p#notice= notice

%p
  %b User:
  = @comment.user_id
%p
  %b Lesson:
  = @comment.lesson_id
%p
  %b Body:
  = @comment.body

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
