.ly-user-show

  = provide(:title, @user.email)
  

  = image_tag @user.image.url
  = @user.username
  /= image_tag @user.icon.url
  %h2 ひとこと
  = @user.simpleintroduce
  %h2 自己紹介
  = @user.introduction