.ly-user-show

  = provide(:title, @user.email)


  = image_tag @user.image.url
  = @user.username
  /= image_tag @user.icon.url
  %h2 ひとこと
  = @user.simpleintroduce
  %h2 自己紹介
  = @user.introduction

- @lessons.each do |lesson|
  = link_to lesson do
    %article.lessons

      .mod-lessons-picture
        .mod-lessons-title 
          %h2.mod-lessons-name 
            = link_to lesson.title, lesson
          

        = image_tag lesson.header.url

        %h3.mod-lessons-tags
        %p.mod-lessons-textarea 
          = lesson.simple_description

.ly-lesson-make
  = link_to "レッスンを作る", new_lesson_path
  = link_to "ユーザーを全員見る", users_path
  = link_to "講座を全部見る", root_path