.ly-lessons_new#lesson-new-display
  .ly-new-lesson-form
    %h1 投稿（全部必須）
    %ul.form-contents-warpper
      = form_for :lesson, url: lessons_path do |f|
        %li.form-contents.about-picture
          = image_tag "new-lesson-picture.png", class: "new-picture"
          %p
            = f.label :header, "画像を選択します"
            = f.file_field :header

        %li.form-contents.about-forms
          %p
            = f.label :title, "タイトル", class: "mod-form-label"
            = f.text_field :title, class: "right-input"

          %p
            = f.label :detail_description, "コメント", class: "mod-form-label"
            = f.text_area :detail_description, cols: 40, rows: 8 , class: "right-input"
  
          %p
            = f.label :tag_list, 'タグを挿入'
            %br/
            = f.text_field :tag_list, id: "tag-input"

          %p
            = f.hidden_field :simple_description, value: "imi-nashi",class: "right-input"

            = f.submit "投稿する", class: "submit"