.ly-lessons_show

  / .ly-lesson-sidebar
  /   = @user.username
  /   = link_to image_tag(@user.image.url), user_path, class: "lesson-sidebar-icon"

  .lesson-show-wrapper
    = image_tag @user.image.url, class: "user-icon"
    .lesson-header
      %p.lesson-date
        = @lesson.created_at
        = link_to @user.username, user_path
        さんによって作成されました
      %h1
        = @lesson.title
      %p
        タグ: #{raw(@lesson.tag_list.map { |t| link_to t, tag_path(t) }.join(', '))}

    .lesson-sns
    
    .lesson-content
      .lesson-image-wrapper
        = image_tag @lesson.header.url, class: "lesson-image"
      = provide(:lesson)

      %p.about-deatil
        = @lesson.detail_description

