.ly-lessons_show

  / .ly-lesson-sidebar
  /   = @user.username
  /   = link_to image_tag(@user.image.url), user_path, class: "lesson-sidebar-icon"

  .lesson-show-wrapper
    = image_tag @lesson.user.image.url, class: "mod-user-icon about-lesson-show"
    .lesson-header
      %p.lesson-date
        = @lesson.created_at
        = link_to @lesson.user.username, user_path
        さんによって作成されました


      %h1
        = @lesson.title
      %p
        #{raw(@lesson.tag_list.map { |t| link_to t, lessons_path(@tagsname = t),class: "mod-tag" }.join(', '))}
      #js-grid-juicy-projects
        = render @lesson

    .lesson-sns{style: "text-align: right; font-size: 20px; padding: 10px;"}
      .view-count
        %i{class: "fa fa-eye"}
        = number_with_delimiter(@page_views)
      .view-count
        %i{class: "fa fa-comment"}
        = @comments.count
      .view-count
        %i{class: "fa fa-heart-o"}
        = @like.count

      .view-count
        - if @lesson.flag == 1
          回答募集中
        - else
          回答締め切り

    .lesson-content
      .lesson-image-wrapper
        = image_tag @lesson.header.url, class: "lesson-image"
      = provide(:lesson)

      %p.about-deatil
        = simple_format(@lesson.detail_description)

      - @lesson.reports.each do |report|
        = report.title
        - unless report.reportimage.url.blank?
          = image_tag report.reportimage.thumb.url

    - if user_signed_in? && @lesson.user.id == current_user.id && @lesson.flag == 2
      .report-field
        = form_for @report do |f|
          .field.is-hidden
            = f.hidden_field :user_id
          .field.is-hidden
            = f.hidden_field :lesson_id, value: @lesson.id
          .field
            = f.label :title, "タイトル"
            = f.text_area :title
          .field
            = f.label :body, "詳細"
            = f.text_area :body
          %p
            = f.label :reportimage, "レポートにのせる画像を選択します"
            = f.file_field :reportimage
          .actions
            = f.submit 'レポートを投稿する', class: "mod-submit lesson-report"


    .lesson-comments
      %h2 ー回答ー
      - @comments.each do |comment|
        .each-comment

          = link_to image_tag(comment.user.image,{class: "comments-icon"}), user_path(comment.user.id)
          %p.answer-man
            = comment.user.username
          %br
          %p= simple_format(comment.body)
          .lesson-image-wrapper
            - unless comment.commentimage.blank?
              = image_tag comment.commentimage.url, class: "lesson-image"
          - if user_signed_in? && comment.user == current_user
            %p.delete-button= link_to '回答を削除する', comment_path(comment), method: :delete
            %time{:datetime => "#{comment.created_at}"}
              = time_ago_in_words(comment.created_at)

          / - binding.pry

          - comment.replies.each do |reply|
            .each-comment.is-reply
              = link_to image_tag(reply.user.image,{class: "comments-icon is-reply"}), user_path(reply.user.id)


              %p.answer-man
                = reply.user.username
              %br
              %p= simple_format(reply.body)
              
              - unless reply.replyimage.blank?
                = image_tag reply.replyimage.url, class: "lesson-image"
              - if user_signed_in? && reply.user == current_user
                %p.delete-button= link_to '回答を削除する', reply_path(reply), method: :delete
                %time{:datetime => "#{reply.created_at}"}
                  = time_ago_in_words(reply.created_at)
          - if user_signed_in? && @lesson.flag == 1
            = render 'replies/form', comment_id: comment.id

      - if user_signed_in? && @lesson.flag == 1
        = render 'comments/form'

      - if user_signed_in? && @lesson.user.id == current_user.id
        .flag-field
          = form_for @lesson do |f|
            %label
              = f.radio_button :flag, 1
              回答を受け付ける
            %label
              = f.radio_button :flag, 2
              回答を締め切る
            .actions
              = f.submit '更新', class: "mod-submit lesson-flag"