.ly-lesson-show-wrapper

  .ly-lesson-sidebar


    = @user.username
    = link_to image_tag(@user.image.url), user_path, class: "lesson-sidebar-icon"

  .ly-lesson-show

    = image_tag @lesson.header.url
    = provide(:lesson)
    %h1 講座

    /= image_tag @user.image.url
    %article.lessons
    %h2 講座名
    = @lesson.title
    = link_to @user.username, user_path
    %h2 料金
    = @lesson.price
    %h2 シンプル説明
    = @lesson.simple_description
    %h2 詳細説明
    = @lesson.detail_description
    /= image_tag @user.icon.url

