.ly-lessons_show

  / .ly-lesson-sidebar
  /   = @user.username
  /   = link_to image_tag(@user.image.url), user_path, class: "lesson-sidebar-icon"

  .lesson-show-wrapper
    = image_tag @user.image.url, class: "mod-user-icon about-lesson-show"
    .lesson-header
      %p.lesson-date
        = @lesson.created_at
        = link_to @user.username, user_path
        さんによって作成されました

      %h1
        = @lesson.title
      %p
        タグ: #{raw(@lesson.tag_list.map { |t| link_to t, tag_path(t) }.join(', '))}

    .lesson-sns{style: "text-align: right; font-size: 20px; padding: 10px;"}
      .view-count
        %i{class: "fa fa-eye"}
        = number_with_delimiter(@page_views)
      .view-count
        %i{class: "fa fa-comment"}
        = @comments.count

    .lesson-content
      .lesson-image-wrapper
        = image_tag @lesson.header.url, class: "lesson-image"
      = provide(:lesson)

      %p.about-deatil
        = simple_format(@lesson.detail_description)

    .lesson-comments
      %h2 ー回答ー
      - @comments.each do |comment|
        .each-comment

          = link_to image_tag(comment.user.image,{class: "comments-icon"}), user_path(comment.user.id)
          %p.answer-man
            = comment.user.username
          %br
          %p= simple_format(comment.body)
          - if user_signed_in? && comment.user == current_user
            %p.delete-button= link_to '回答を削除する', comment_path(comment), method: :delete
            %time{:datetime => "#{comment.created_at}"}
              = time_ago_in_words(comment.created_at)

          / - binding.pry

          - comment.replies.each do |reply|
            .each-comment.is-reply
              = link_to image_tag(reply.user.image,{class: "comments-icon is-reply"}), user_path(reply.user.id)


              %p.answer-man
                = reply.user.username
              %br
              %p= simple_format(reply.body)
              - if user_signed_in? && reply.user == current_user
                %p.delete-button= link_to '回答を削除する', reply_path(reply), method: :delete
                %time{:datetime => "#{reply.created_at}"}
                  = time_ago_in_words(reply.created_at)
          - if user_signed_in?
            = render 'replies/form', comment_id: comment.id

      - if user_signed_in?
        = render 'comments/form'