!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tutors
    = csrf_meta_tags
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    
  %body
    %a.always-fix-tensaku{src: "#"}
    %header.ly-header
      .inner
        %img.tutors-logo{:src => "https://s3-ap-northeast-1.amazonaws.com/tutors-upload-test/assets-images/tutors_logo.png"}/
        = form_tag user_path(current_user), :method => 'get' ,class: "header-form" do
          %p
          = text_field_tag :search, params[:search]
          = submit_tag "Search", :name => nil
        = link_to user_path(current_user) do
          %i.fa.fa-user-circle.mod-header-buttons
        = link_to user_path(current_user) do
          %i.fa.fa-star-o.mod-header-buttons.is-circled
        = link_to user_path(current_user) do
          %i.fa.fa-comment-o.mod-header-buttons.is-circled
        = link_to user_path(current_user) do
          %i.fa.fa-cog.mod-header-buttons

        


        / - if user_signed_in?
        /   %p= link_to "ログアウト", destroy_user_session_path, method: :delete
        /   %p.notice= notice
        /   %p.alert= alert

    = yield

    .ly-footer
      .footer-contents
        %p サイトマップ
        %a.mod-contents-link TOPページ<br />
        %a.mod-contents-link TUTORSって？<br />
        %a.mod-contents-link レポート<br />
        %a.mod-contents-link プロジェクト<br />
        %a.mod-contents-link コレクション<br />
        %a.mod-contents-link 投稿する<br />

      .footer-rights @2017 PENTER.

    %script{src: "https://code.jquery.com/jquery-3.2.1.min.js"}

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
